/* Rufina */
@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
/* Sintony */
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
/* Forum */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
  
    --blanc: #eae5e1;
    --sage: #b5c3aa;
    --vine: #545445;
    --rose: #d8bfb2;
    --cab: #995c41;
    --terrace: #d4c7be;
  }

* {
    box-sizing: border-box;
    background-color: var(--blanc);
  }

h1{
  font-family: Rufina;
  align-self: center;
  font-size: 36px;


  }

h2{
  font-family: Rufina;

  }

h3{
  font-family: Sintony;

  }


/* CSS */
button {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--vine);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Sintony;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

button:hover {
  background-color: #888881;
}


p{


}

NavLink{

}

#cartcontainer{
  display: flex;
  flex-direction: row;
  padding: 50px;
  background-color: var(--cab);
  margin: 10px;


}

.ProductImage{
  margin-right: 30px;


}

.BoxText {
  background-color: var(--cab);
  color: var(--blanc);

  
}

.CartText {
  background-color: var(--cab);
  font-size: 16px;
}

.CheckOutButton {
  font-size: 16px;
}

#EditQuantity {
  margin-bottom: 5px;
  padding: 5px;
}

.headerLinks{

}

.FullBloom{

}

.CategoryLinkBox{

}

.CategoryLink{

}

/* ///CART */
.MainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  
}

.Message {
  font-family: Rufino;
}




  
  
  html {
    touch-action: manipulation;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .button { color: #c6c583}
  